<!-- HEADER -->
<header>
    <div class="logoDiv">
        <img src="static/img/clipboard.png" alt="clipboard">
        <a href="#/home">
            <p class='logo'>My Action Plan</p>
        </a>
    </div>
    
    <div class="buttons">
        <!-- To Do List -->
        <a href="#/to-do">
            <div class='header-link'>
                
                    <img class='to-do-img' src="static/img/clipboard.png" alt="clipboard"> 
                    <p>My To-Do List</p>
                
            </div>
        </a>
        <!-- List View -->
        <a href="#/list">
            <div class='header-link'>
                <img class='list-img' src="static/img/list-img.png" alt="clipboard">
                <p>List View</p>
            </div>
        </a>
    </div>
    <div class="logoDivBorder"></div>
</header>