<div class="fade-in" ng-controller='HomeController as home'>
    <!--Top Row-->
    <div class="row">
        <div class="col-md-3 title-block">Here are some things we would like you to do while you are here.</div>
        <home-block ng-repeat='top in home.tops' class='col-md-3 text-center'>
            <a ng-href={{top.url}}>
                <p ng-bind='top.item'></p>
            </a>
        </home-block>
    </div>

    <!--Bottom Row-->
    <div class="container">
        <div class="row">
            <div class="bottomRow">
                <home-block class='col-md-2 text-center'>one</home-block>
                <home-block class='col-md-2 text-center'>teo</home-block>
                <home-block class='col-md-2 text-center'>three</home-block>
                <home-block class='col-md-2 text-center'>four</home-block>
                <home-block class='col-md-2 text-center'>five</home-block>
                <home-block class='col-md-2 text-center'>sixe</home-block>
            </div>
        </div>
    </div>
</div>