<div class="fade-in container_95" ng-controller='HomeController as home'>
    <!--Top Row-->
    <div class="row">
        <div class="col-md-3 title-block">Here are some things we would like you to do while you are here.</div>
        <home-block ng-repeat='top in home.tops' class='col-md-3 text-center'>
            <a ng-href={{top.url}}>
                <p ng-bind='top.item'></p>
            </a>
        </home-block>
    </div>

    <!--Bottom Row-->
    <div class="container">
        <div class="row">
            <div class="bottomRow">
                <home-block ng-repeat='bottom in home.bottoms' class='col-md-2 text-center'>
                    <!--<a ng-href={{top.url}}>-->
                        <p ng-bind='bottom.item'></p>
                    <!--</a>-->
                </home-block>
            </div>
        </div>
    </div>
</div>