<div class="container fade-in" ng-controller="MedicationsController">
    <div class="row">

        <!-- List Medications -->
        <div class="col-md-5 medication-list-div">
            <h2 class='view-header'>My Medications</h2>

            <!-- If patient is NOT selected -->
            <p ng-show='!patient' class='pre-info'>When the patient is selected, their medications will show here.</p>

            <!-- If patient is selected -->
            <li ng-repeat="med in patient.medications" 
                ng-bind='med.store_name' 
                ng-click='showInfo(med.official_name, med.store_name)'
                class='medication_item'>
            </li>
        </div>
        
        <!-- Medication Information -->
        <div class="col-md-7 info-div">
            <h2 class='view-header'>Medication Information</h2>
            <p ng-show="!medInfo" class="fade-in pre-info">Information about the selected medication will be displayed here.</p>
            <div class="fade-in">
                <h3 ng-bind="medInfoHeader"></h3>
                <div ng-bind="medInfo"></div>
                <p ng-show="medInfo" class='info_source'>Information from Wikipedia API</p>
            </div>
        </div>
    </div>
</div>