<div class="container fade-in to-do" ng-controller="ToDoController">
    <div class="row">

        <!-- Instructions -->
        <div class='container instructions'>
            <div class="row">
                <p class="col-md-8">These are your things to do while you are here. You can add more items in the right-hand column. When an item is complete, click on it in the left-hand column</p>
            </div>
        </div>

        <!-- See To-do's -->
        <div class="col-md-6 show-to-dos">
            <h3>Pending Items:</h3>

            <!-- Show if no Patient is selected -->
            <p ng-show='!patient'>When a Patient is selected, the items on their to-do list will display here.</p>

            <!-- Show if Patient is selected -->
            <ul>
                <li ng-repeat="todo in patient.todos" class='to-do-li fade-in'>
                    <p ng-click='removeItem(todo)' class='to-do-item'>{{ todo }}</p>
                </li>
            </ul>
        </div>

        <!-- Add To-Do -->
        <div class="col-md-5 col-md-offset-1 add_item">
            <h3>Add an Item</h3>
            <input type="text" ng-model='new_item' class='form-control item_button' placeholder="Enter new item."/>
            <button type="submit" ng-click='addItem(new_item)' class="btn btn-default">Add Item</button>
        </div>
    </div>
</div>