.greetingDiv {

    margin-bottom: 1%;

    * {
        display: inline-block;
        font-family: "Roboto", sans-serif;
    }

    .patient-selection {
        margin-top: 1%;
        margin-bottom: 0;
        padding-left: 5%;
    }

    .greeting {
        color: rebeccapurple;
        font-weight: 300;
        padding-left: 3%;
    }

    .info {
        padding-right: 3%;
        margin-top: 1.7%;
        font-size: 1.5em;
    }

    .submitButton {
        margin-top: 8%;
        
        input {
            padding: 9% 20%;
            border-radius: 5%;
            background-color: $blue;
            border: none;

            &:hover {
                background-color: darken($blue, 15%);
            }
        }
    }

    #time {
        border-left: 3px solid lighten(rebeccapurple, 40%);
    }
}