home-block {
    .home-block-div {
        background-color: $blue;
        border-radius: 3px;
        
        .home-block-img {
            height: 90px;
        }
        .home-block-content {
            height: 90px;     
            font-size: 1.5em;
        }

        &:hover {
            outline: 5px solid lighten(yellow, 30%);
            outline-offset: -5px;
        }
    }
}

