.list-view {
    height: 200px;

    .list-item {
        font-size: 1.25em;
        background-color: $blue;
        border-radius: 5px;
        padding: 1% 3%;
        margin-bottom: 2%;

        &:hover {
            padding-left: 4%;
            background-color: darken($blue, 10%);
        }
    }
}