.pre-info {
    font-size: 1.3em;
}

.medication_item {
    list-style-type: disc;
    font-size: 1.4em;
    cursor: pointer;

    &:hover {
        color: $dark_blue;
    }
}

.medication-list-div {
    padding-right: 3%;

    
}

.info-div {
    border-left: 3px solid $blue;
    padding-left: 6%;
    min-height: 300px;

    .info-header {
        color: $dark_blue;
    }

    .info_source {
        margin-top: 7%;
        font-style: italic;
    }
}
