// Variables
$blue: lighten(rebeccapurple, 50%);
$dark_blue: darken($blue, 30%);
$fade_in_time: 0.45s;

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9;} to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9;} to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9;} to { opacity:1; } }
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:$fade_in_time;
    -moz-animation-duration:$fade_in_time;
    animation-duration:$fade_in_time;
}

.container_95 {
    margin: 0 auto;
    width: 95%;
}

.view-header {
    color: $dark_blue;
    margin-bottom: 4%;
}

// Globals
@import 'globals';

// Template Styles
@import 'greeting';
@import 'header';
@import 'home';
@import 'footer';
@import 'list';
@import 'to-do';
@import 'medications';
@import 'pain';
@import 'videos';


// Directive Styles
@import 'home-blocks';
